.login {
    background-color: white;
    background: linear-gradient(to bottom, #33ccff 1%, #6666ff 30%);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.login__container {
    padding: 49px;
    text-align: center;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 1px;
}
.login__text {
    color:  #6828bd;
    font: caption;
}
.login__ishu {
    background-color:  #4d4dff ;
    padding: 10px;
    border-radius: 30px;
}
.login__container > img {
    object-fit: contain;
    height: 200px;
    margin-bottom: 40px;
}
.login__container > button {
    margin-top: 50px;
    background: linear-gradient(to bottom, #33ccff 0%, #6666ff 6%);
    text-transform: inherit !important;
    background-color: #6828bd !important;
    color: white;

}